body {
  background: linear-gradient(
    60deg,
    #7db9e8 0%,
    #bf6cf6 4%,
    #2ac2e0 45%,
    #73a9d6 67%,
    #bf6cf6 90%,
    #33cbe6 100%
  );
}

p {
  font-family: "Ubuntu", sans-serif;
}

h1,
h2,
h4,
h6 {
  font-family: "Exo", sans-serif;
  font-weight: bold;
}

h6{
  font-size: .8rem;
}

#topPanel {
  background-color: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2rem;
  padding-bottom: 1rem;
  padding-top: 6rem;
  margin-bottom: 2rem;
  border-radius: 0px 0px 6rem 1rem;
}

.callout {
  background-color: rgb(252, 255, 252);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 15px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0 0 2rem 0.5rem;
}

.button {
  border-radius: 0 0 .65rem 0.25rem;
}




/*


#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
  max-width: 80%;
}
#articles {
  display: inline-block;
  overflow: auto;
  width: 60%;
  height: 700px;
}
#notes {
  float: right;
  width: 30%;
}
textarea,
input {
  display: block;
  width: 100%;
  background-color: slategray;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
} */
